@import  "//fonts.googleapis.com/css?family=Montserrat";

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  min-height: 100%;
  font-family: "Montserrat",sans-serif;
  line-height: 1.42857;
  font-size: 17px;
  background-color: rgba(0,0,0,1);
  color: #FFF;
  word-wrap: normal;
}

a,a:visited,a:active,a:hover {
  color: #FFF;
  text-decoration: underline;
}

section {
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}

.bg-image {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  z-index: 0;
}

.form-horizontal .form-group {
  margin-right: 0;
  margin-left: 0;
}

.form-horizontal .btn {
  display: block;
  margin: 0 auto;
}

.user-signup__submit {
  line-height: .5em;
}

.user-signup__form {
  margin-left: -5px;
}

.user-signup__form-group {
  padding: 0 0 0 5px;
  position: relative;
}

@media all and (max-width: 767px) {
  .form-horizontal .mt-table,.form-horizontal .mt-table--full,.form-horizontal .mt-table--centered,.form-horizontal .mt-table--full,.form-horizontal .mt-td--centered-vertical {
    display: block;
  }
}

@media all and (min-width: 768px) {
  .form-horizontal .user-signup__col-2 {
    width: 1%;
  }
}

.floating-signup__wrap {
  position: fixed;
  z-index: 5;
  padding: 10px;
}

.floating-signup {
  position: relative;
  padding: 10px 20px;
}

.floaty-vertical--middle {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media all and (max-width: 480px) {
  .floaty-unfloat-at--xs.floating-signup__wrap {
    position: static;
    display: block;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    float: none;
  }
}

.insert--image {
  display: block;
  position: relative;
}

.insert--image.wrap-off-align-center {
  margin-left: auto;
  margin-right: auto;
}

.spacer {
  z-index: 0;
  width: 2.52px;
  margin-bottom: -15px;
  margin-top: -15px;
}

.clean-hr {
  z-index: 0;
  width: 100%;
  max-width: 579.5px;
  margin-top: 28px;
  margin-bottom: 28px;
}

.m-lg-v {
  margin-top: 30px;
  margin-bottom: 30px;
}

.mt-table,.mt-table--full {
  display: table;
}

.mt-table--full {
  width: 100%;
}

.mt-td,.mt-td--centered-vertical {
  display: table-cell;
}

.mt-td--centered-vertical {
  vertical-align: middle;
}

.loading-state {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  background: url(./loading.gif) 50% 45% no-repeat;
}

.rel {
  position: relative;
}

.bg-image {
  /* photo from: https://www.pexels.com/photo/dawn-landscape-mountains-nature-1852/ */
  background-image: url(./background.jpg);
  background-attachment: scroll;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  opacity: .69;
}

h1 {
  font-size: 40px;
}

.form-control__input {
  border-width: 0;
  border-radius: 0;
  font-size: 14px;
  height: 50px;
}

.user-signup__submit {
  border-width: 0;
  border-radius: 0;
  font-size: 14px;
  padding-right: 20px;
  padding-left: 20px;
  height: 50px;
  background-color: #00a651;
  color: #FFF;
}

.user-signup__submit:hover {
  background-color: #1cd861;
  color: #FFF;
}

@media all and (min-width:481px) {
  p {
    font-size: 22px;
  }

  h1 {
    font-size: 60px;
  }
}

@media all and (min-width:769px) {
  p {
    font-size: 22px;
  }

  h1 {
    font-size: 75px;
  }
}

@-webkit-keyframes $animation_name {
  100% {
      -moz-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
    }
}
@-moz-keyframes $animation_name {
  100% {
      -moz-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
    }
}
@keyframes $animation_name {
  100% {
      -moz-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
    }
}
@-webkit-keyframes $animation_name {
  100% {
      -moz-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
    }
}
@-moz-keyframes $animation_name {
  100% {
      -moz-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
    }
}
@keyframes $animation_name {
  100% {
      -moz-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
    }
}
/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  box-sizing: border-box;
  }

  body, html {
    min-width: 768px;
}

.video {
    height: 45vw;
  position: relative;
  }
  .video video {
    width: 100%;
  height: 100%;
  }

  .playbutton {
    display: block;
  position: absolute;
    top: 50%;
  left: 50%;
    width: 100px;
  height: 100px;
    margin-top: -50px;
  margin-left: -50px;
    text-indent: -9999;
  color: transparent;
    -moz-transition-property: all;
  -o-transition-property: all;
    -webkit-transition-property: all;
  transition-property: all;
    -moz-transition-duration: 600ms;
  -o-transition-duration: 600ms;
    -webkit-transition-duration: 600ms;
  transition-duration: 600ms;
    -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  }

  .playbutton:before {
    content: '';
  position: absolute;
    top: 30px;
  left: 40px;
    display: block;
  width: 0;
    height: 0;
  border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
  border-left: 30px solid #FFF;
    -moz-transition-property: all;
  -o-transition-property: all;
    -webkit-transition-property: all;
  transition-property: all;
    -moz-transition-duration: 300ms;
  -o-transition-duration: 300ms;
    -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
    -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  }
  .playbutton:after {
    content: '';
  opacity: 0;
    position: absolute;
  top: 30px;
    left: 40px;
  display: block;
    width: 30px;
  height: 40px;
    border-left: 10px solid #FFF;
  border-right: 10px solid #FFF;
    -moz-transition-property: all;
  -o-transition-property: all;
    -webkit-transition-property: all;
  transition-property: all;
    -moz-transition-duration: 300ms;
  -o-transition-duration: 300ms;
    -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
    -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
    -webkit-transform: translate3d(0, 0, 0);
}
.playbutton:hover:after {
  opacity: 1;
    width: 150px;
  left: -25px;
  }
  .playbutton.loading:before {
    opacity: 0;
}
.playbutton.loading:after {
  opacity: 1;
    width: 150px;
  left: -25px;
    border-radius: 3px;
  -webkit-animation: spin 800ms linear infinite;
    -moz-animation: spin 800ms linear infinite;
  -ms-animation: spin 800ms linear infinite;
    -o-animation: spin 800ms linear infinite;
  animation: spin 800ms linear infinite;
  }
  .playbutton.playing {
    top: 90%;
  left: 90%;
  }
  .playbutton.playing:after {
    -webkit-animation: endspin 600ms;
  -moz-animation: endspin 600ms;
    -ms-animation: endspin 600ms;
  -o-animation: endspin 600ms;
    animation: endspin 600ms;
  -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
  animation-iteration-count: 1;
    top: 30px;
  left: 40px;
    width: 30px;
  opacity: 1;
    opacity: .1;
}
.playbutton.playing:before {
  opacity: 0;
  }
  .playbutton.playing:hover:after {
    opacity: 1;
}
.playbutton.playing.paused:before {
  opacity: 1;
  }
  .playbutton.playing.paused:after {
    opacity: 0;
}

